.jumbotron
    h1 Welcome to my humble abode!
      p.lead I am Fredek!
      img.fredek(src='http://i.imgur.com/9MQjYSL.jpg')
.row.marketing
  h4 Poops
  p I do them very well.

  h4 Cuddles
  p I come recommended by some of the world's finest cuddle-consumers.

  h4 Floops
  p Patent pending.
